header {
  text-align: center;
  height: 100vh;  
background: linear-gradient(to right, #69bcf4, #30cc8b);
  color: #fff;
  overflow:hidden;
/*transform: skewY(-3deg);
transform-origin: 0;*/
}

header:before, header:after {
  background: inherit;
  content: '';
  display: block;
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

header:after {
  bottom: 0;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
          padding-bottom: 10%;

}


/*header::after {
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  transform: skewY(3deg);
   transform-origin: 100%;
}*/

header .content {
height: 100%;
}

header span .svg-inline--fa {font-size: 3em;}

header span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 5px;
  border-radius: 2px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header span::before,
header span::after {
  position: absolute;
  top: -23px;
  content:"";
  height: 30px;
  width: 4px;
  border-radius: 2px;
}

/*header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}*/


div.animated span {font-size: 4em; text-align: center; color:#6da3f9;}

.mt-10 {margin-top:3em;}