

header {
    width:100%;
    height: 120vh;
    background: url('http://u.cubeupload.com/vcastillo/girl23805541920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform-origin: -60px;
    transform: skewY(-2deg);
    margin-top: -10vh;
    padding-top: 10vh;
    padding-bottom: 5%;
    overflow: hidden;
}

header .container {
    padding: 2em 2em 0 2em;
    transform: skewY(2deg);
    transform-origin: 0;
    height: 100%;
    text-align: center;
}

header span .svg-inline--fa {font-size: 3em;}

header span.animated {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 5px;
    animation-delay: 1s;
    border-radius: 2px;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

header span::before,
header span::after {
    position: absolute;
    top: -23px;
    content:"";
    height: 30px;
    width: 4px;
    border-radius: 2px;
}


.container-header {height: 100%; background: unset; overflow: hidden; width:100%;}

.title {
    color: white;
    animation-delay: 1s;
    animation-duration: 1.5s;
    /*font-family: Arial;*/
    /*padding-top: 5%;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
}